.SearchBar  {
    width: 100%;
    color: black;
    display: flex;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.SearchBar form {
    position: relative;
}

.SearchBar Input {
    height: 40px;
    line-height: 40px;
    max-width: 300px;
    display: inline-block;
}
.SearchBar .searchButton{
position: absolute;
top: 0px;
left: 8px;
}

.SearchBar Input:focus {
    outline: none;
}

.SearchBar Button {
    background: none;
    border: none;
    color: black;
}

.SearchBar Button:hover {
    color: #f9f9f9;
}

.toggleMenuButton {
    display: inline-block;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.toggleMenuButton:hover {
    color: #bdbdbd !important;
}