.SearchBar {
    width: 100%;
    display: flex;
    min-height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.SearchBar form {
    position: relative;
}

.SearchBar Input {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border: none;
    padding-right: 25px;
}

.SearchBar .searchButton {
    position: absolute;
    top: 0px;
    left: 8px;
}

.SearchBar .smallWidthImg {
    display: none;
}

.SearchBar Input:focus {
    outline: none;
}

.SearchBar Button {
    background: none;
    border: none;
    color: black;
}

.SearchBar Button:hover {
    color: #f9f9f9;
}

.toggleMenuButton {
    display: inline-block;
    color: white !important;
    border: none;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.toggleMenuButton:hover {
    color: #bdbdbd !important;
}

@media (max-width: 600px) {
    .SearchBar {
        display: flex;
        flex-direction: column;
    }

    .toggleMenuButton {
        color: black;
        border: none;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
    }

    .SearchBar .firstChilde {
        display: flex;
        padding: 10px 10px 0px 10px;
        width: 100%;
        justify-content: space-between;

    }

    .SearchBar .secondChilde {
        width: 100%;
        height: 50px;
    }

    .SearchBar form,
    .SearchBar input {
        width: 100%;
        border: none;
        line-height: 50px;
        display: inline-block;
    }

    .SearchBar .bigWidthImg {
        display: none;
    }
}