.loginDAdminButton{
    background-color: #f9f9f9;
    border: 2px solid black;
    width: 100px;
    height: 50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
}

.loginDAdminButton:hover{
    background-color: black;
    color: #f9f9f9;
  }
  
 .loginDAdminButton:active{
    background-color: #f9f9f9;
    color: black;
  }