.Products .product {
    background-color: #f9f9f9;
    height: 400px;
    width: 300px;
    display: inline-block;
    margin: 30px;
    text-align: right;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.Products .product:hover {
    background-color: #f3ecec;

}

.Products .productTile{
    margin: 0px;
}

.Products .product img {
    height: 270px;
    width: 100%;
}



.productData {
    padding: 4px 4px 0px 0px;
}

.Products .productDescriptionDiv {
    font-size: 15px;
}

.Products select{
    margin-top: 3px;
}

.Products .price {
    position: absolute;
    bottom: 0px;
    left: 0PX;
    margin: 0PX;
    width: 70PX;
    border: 1PX solid black;
    text-align: center;
    background-color: black;
    color: #f9f9f9;
    font-weight: bold;
}

.Products .productsState{
width: 250px;
margin-right: 10px;
}

@media (max-width: 750px) {
    .Products .product {
        height:  350px;
        width: 200px;
    }

    .Products .product img {
        height: 200px;
        width: 100%;
    }
    .Products .productTile{
        margin: 0px;
        font-size: 20px;
    }

}

@media (max-width: 530px) {
    .Products .product {
       height:  300px;
        width: 170px;
        margin: 5px;
    }

    .Products .product img {
        height: 170px;
        width: 100%;
    }
    .Products .productTile{
        margin: 0px;
        font-size: 20px;
    }
    .Products .productTile{
        font-size: 15px;
    }
    .Products .productDescriptionDiv {
        font-size: 13px;
    }

}
