.ShowProducts .product {
    background-color: #f9f9f9;
    height: 400px;
    width: 300px;
    border: 1px solid black;
    display: inline-block;
    margin: 30px;
    text-align: right;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.ShowProducts .product:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.ShowProducts .product img,
.productImgDiv {
    height: 250px;
    width: 100%;
}

.productData {
    padding: 4px 4px 0px 0px;
}

.ShowProducts .productDescriptionDiv {
    font-size: 15px;
}

.ShowProducts .price {
    position: absolute;
    bottom: 0px;
    left: 0PX;
    margin: 0PX;
    width: 70PX;
    border: 1PX solid black;
    text-align: center;
    background-color: black;
    color: #f9f9f9;
    font-weight: bold;
}
