.ShowSearch .product {
    height: 200px;
    width: 90%;
    margin: 10px auto 10px auto;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    display: flex;
}

.ShowSearch .product:hover {
    background-color: bisque;
}

.ShowSearch .product img {
    display: inline-block;
    height: 180px;
    width: 180px;
    border-radius: 50px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.ShowSearch .product .data {
    display: inline-block;
    max-width: 300px;
    margin: 3px;
    padding-right: 20px;
}

.ShowSearch .product .price {
    padding-right: 15px;
    max-width: 300px;
}

.ShowSearch hr {
    margin: auto;
    width: 90%;
}

.ShowSearch .showResTitle {
    margin-bottom: 70px;
}

.ShowSearch .productFilter {
    width: 250px;
    margin-right: 10px;
    text-align: right;
}

.ShowSearch select{
    margin-top: 3px;
}


@media (max-width: 600px) {

    .ShowSearch .product {
        min-height: 120px;
 
    }
    .ShowSearch .product img {
        width: 100px;
        height: 100px;
    }

}