.DeleteCategories{
    max-height: 400px;
    overflow: auto;
}

.DeleteCategories .category{
    position: relative;
}

.DeleteCategories .trashIcon{
position: absolute;
top: 3px;
left: 10px;
cursor: pointer;
color: red;
}

.DeleteCategories .trashIcon:hover{
    color: black;
    }