.Products{
text-align: center;
}

.productsNavButtons {
    background-color: black;
    color: bisque;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.productsNavButtons:hover {
    border: black 1px solid;
    background-color: bisque;
    color: black;
}

.productsNavButtons:active {
    background-color: black;
    color: bisque;
}

