.Path{
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
    color: #605b5b87;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin: 0px;
    direction: rtl;
    height:20px;
    line-height: 20px;
    font-size: 15px;
    display: block;
}

.path span:hover{
    color: gray;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .path {
        font-size: 13px;
        background-color: black;
        color:  #f9f9f9;
        height:20px;
        line-height: 20px;
        padding-right: 30px;
    }
  }

  @media only screen and (min-width: 600px) {
    .path {
        padding-right: 30px;

    }
  }
