.Layout{
    text-align: center;
}

.Layout main {
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 100%;
    max-width: 1000px;
    margin: 100px auto 100px auto;
}

.divMenu{
    height: 100%;
    overflow: hidden;
    width: 350px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: white;
    padding-top: 20px;
    color: black;
    text-align: center;
    box-shadow: -5px 0px 10px 1px #6f6f6f;
    overflow: auto;
}


@media screen and (max-height: 450px) {
    .divMenu {
      padding-top: 15px;
    }
  }

