.Nav{
    display: flex;
    background-color: bisque;
    height: 70px;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.Nav .menuToggle{
    margin: auto 0px auto 0px;
}

.Nav .title{
    margin: auto;
}


.toggleMenuButton{
background-color: #ffe4c400;
color: black;
border: none;
font-weight: bold;
font-size: 25px;
cursor: pointer;
}


