.Menu .categoriesList {
  margin-top: 50px;
}

.Menu ul {
  list-style-type: none;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
  width: 100%;
  padding: 2px;
}

.Menu .categories {
  position: relative;
  text-align: center;
  border-bottom: #f9f9f9 1px solid;
  border-top: #f9f9f9 1px solid;
  min-height: 50px;
  width: 100%;
  line-height: 50px;
  cursor: pointer;
}

.Menu .categories:hover {
  color: black;
  background-color: #f9f9f9;
}

.Menu .categoriesDownButton {
  position: absolute;
  top: 18px;
  left: 10px;
}

.Menu .typesLi {
  background-color: #f9f9f9ed;
  color: black;
  cursor: pointer;
  border-bottom: white 1px solid;
  border-top: white 1px solid;
}

.Menu .typesLi:hover {
  background-color: black;
  color: #f9f9f9;
}

.Menu .logOutButton {
  background-color: #00000000;
  border: none;
  width: 60%;
  height: 50px;
  line-height: 50px;
  color: red;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;

}

.Menu .logOutButton:hover {
  color: #f9f9f9;
}

.Menu .logOutButton:active {
  color: red;
}

.closeButton {
  background: none;
  border: none;
  color: red;
  font-size: 30px;
  position: absolute;
  top: 2px;
  left: 2px;

}

.closeButton:hover {
  color: white;

}